/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Elements */
hr {
  display: none;
}

body {
  height: 100%;
}

/* IDs */
#btn-container {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

#btn-container button {
  border-radius: 0.3rem;
  padding: 0.625rem 0.93rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.125rem;
}

#cpicker {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

/* Classes */
.cell {
  background: rgba(0, 0, 0, 0.1);
  border: 1px white solid;
}
